{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/common.css">
{% endblock %}

{% block body %}
    <form action="/add_diary" method="POST">
    Title:
    <br><br>
    <input type="text" name="name">
    <br><br>
    Time:
    <br><br>
    <input type="text" name="time" value="{{today}}">
    <br><br>
    Entry:
    <br><br>
    <textarea id="entry" name="entry" rows="4" cols="50"
    placeholder="Describe yourself here..."></textarea>
    <br><br>
    <button class="button button2" type="submit">Add face</button>
</form>
{% endblock %}