<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="static/css/common.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
               <div class="logo">Memory Assistance</div>

               <ul class="nav-links">

                 <div class="menu">

                  <li><a href="/">Home</a></li>

                  <li><a href="/addface">Add Face</a></li>
                  <li><a href="/face_reg">Recognise Face</a></li>

                   <li class="services">

                    <a >Games</a>

                  <!-- DROPDOWN MENU -->

                  <ul class="dropdown">

                  <li><a href="/memory">Memory game </a></li>

                  <li><a href="/whac">Whac-a-Mole</a></li>
                  </ul>
                  </li>
                  <li class="services">

                    <a >Memory</a>

                  <!-- DROPDOWN MENU -->

                  <ul class="dropdown">

                  <li><a href="/todo">To Do</a></li>

                  <li><a href="/">Diary</a></li>
                  </ul>
                  </li>

                  <li><a href="/">Memory Album</a></li>
                  <li><a href="/login">Logout</a></li>
              </div>

              </ul>
        </nav>

    {% block body %}
    {% endblock %}
</body>
</html>