<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Whac-a-mole</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/whac_styles.css') }}">
  <link rel="stylesheet" href="static/css/navbar.css" />
  <link rel="stylesheet" href="static/css/common.css">
</head>
<body>
  <nav class="navbar">
               <div class="logo">Memory Assistance</div>

               <ul class="nav-links">

                 <div class="menu">

                  <li><a href="/">Home</a></li>

                  <li><a href="/addface">Add Face</a></li>
                  <li><a href="/face_reg">Recognise Face</a></li>

                   <li class="services">

                    <a >Games</a>

                  <!-- DROPDOWN MENU -->

                  <ul class="dropdown">

                  <li><a href="/memory">Memory game </a></li>

                  <li><a href="/whac">Whac-a-Mole</a></li>
                  </ul>
                  </li>
                  <li class="services">

                    <a >Memory</a>

                  <!-- DROPDOWN MENU -->

                  <ul class="dropdown">

                  <li><a href="/todo">To Do</a></li>

                  <li><a href="/">Diary</a></li>
                  </ul>
                  </li>

                  <li><a href="/">Memory Album</a></li>
                  <li><a href="/login">Logout</a></li>
              </div>

              </ul>
        </nav>
  <div class="center">
  <h2>Your score:</h2>
  <h2 id="score">0</h2>

  <h2>Time Left:</h2>
  <h2 id="time-left">60</h2>

  <div class="grid">
    <div class="square" id="1"></div>
    <div class="square" id="2"></div>
    <div class="square" id="3"></div>
    <div class="square" id="4"></div>
    <div class="square" id="5"></div>
    <div class="square" id="6"></div>
    <div class="square" id="7"></div>
    <div class="square" id="8"></div>
    <div class="square" id="9"></div>
  </div>
</div>
  <script src="{{ url_for('static',filename='javascripts/whac.js')}}"></script>
</body>
</html>
